{% include "header.html" %}

<h1> Change Password</h1>
<!--
    {% if change_error is sameas "Password has been updated" %}
     <div class="green"> {{ change_error }}</div>
    
    {% elif change_error is sameas "Wrong current password" %}
     <div class="red"> {{ change_error }}</div>
    
    {% else %}
     <div class="red"> {{ change_error }}</div>
    
    {% endif%}
-->

<form action= /changepassword method= 'POST'>
    
    
    Old Password:<br>
    <input type="text" name="oldpassword" required><br>
    New Password:<br>
    <input type="text" name="newpassword1" required><br>
    Re-type New Password:<br>
    <input type="text" name="newpassword2" required><br>
    <button type="submit" name="changepassword"> Change Password</button><br>
</form>
{% include "footer.html" %}